body {
  background-color: #F8F8FF;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  text-align: center;
  color: #000;
}

figcaption {
  color: white;
  background-color: #545051;
}

#products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  position: relative;
  width: 100px;
  height: 150px;
  background-color: #F8F8FF;
  margin: 10px;
  text-align: center;
  border: 1px solid #7B86AA;
  cursor: pointer;
}

.product img {
  height: 100px;
  object-fit: cover;
}

#cart {
  border: 1px solid #7B86AA;
  background-color: #F8F8FF;
  width: 96%;
  padding: 20px;
  margin: 10px;
}

#cart h2 {
  text-align: center;
  color: #545051;
}

#total {
  margin-bottom: 20px;
  font-size: 18px;
  color: #545051;
  font-weight: bold;
}

#cart-items {
  min-height: 150px;
  border: 1px solid #7B86AA;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-item {
  position: relative;
  width: 100px;
  height: 150px;
  border: 1px solid #7B86AA;
  background-color: #F8F8FF;
  margin: 10px;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.cart-item img {
  height: 100px;
  object-fit: cover;
}

button {
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
}